body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #fad2f3;
}

.header_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    }

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: black;
    text-align: right;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
